body{
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr{
  border-style: dotted none none;
  border-width: 6px;
  color:#EAF6F6;
  width:4%;
  margin-left: 100px  auto;
}

h1{
  color: #66BFBF;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  font-weight: bold;
  margin: 50px auto 0 auto;
}

h2{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

p{
  line-height: 2;
}
/*********** class ********/

.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0px 20px;
}

.middle-container{
  margin: 100px 0;
}

.top-container{
  background-color: #dff0ea;
  padding-top: 100px;
  position: relative;
}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}

.my-dp{
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.gaming-images{
  height: 180px;
  width: 180px;
  border-radius: 100%;
  float: right;
  margin-left: 30px;
}

.programming-images{
  height: 180px;
  width: 180px;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.skill-row{
  width: 50%;
  margin:100px auto;
  text-align: left;
}

.profile{
  margin: 0 auto 80px auto;
  line-height: 2;
  width: 35%;
}

.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background:  #30e3cb;
  background-image: -webkit-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top,  #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom,  #30e3cb, #2bc4ad);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
